.auth {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    animation: slide-down 0.5s ease;

}

.form {
    width: 35rem;
    padding: 1.5rem;
    animation: slide-up 0.5s ease;
}

form>input {

    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
}

h2 {
    color: orangered;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
p {
    text-align: center;
    margin: 1rem;
  }

.register {
    display: flex;
    justify-content: center;
    align-items: center;
  }